<html>
    <body>
        <h2> Html Form </h2>
        <form action="/submit" method='post'>
            <label for="expect_members">Expected Members</label><br>
            <input type="text" id="members" name ="members" value="0"><br>
            <label for="Attend">Attented Members</label><br>
            <input type="text" id="attend" name="attend" value="0"><br>
            <label for="leve">Leave Members</label><br>
            <input type="text" id="leave" name="leave" value="0"><br><br>
            <input type="submit" value="submit">
        </form>
        <p>By clicking the "submit" button, the form data will be sent to "\submit" page</p>
        
    </body>
</html>